<div id="login">
    
    <div class="container">

        <div class="row justify-content-center">
        
        <div class="col-12 col-md-5">

            <div class="card bg-dark border-success mt-5">
                <form 
                autocomplete="off"
                (ngSubmit)="ingresar()"
                [formGroup]="loginForm"
                class="p-2"
                >
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" (input)="escribiendo()">
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="alertEmail">
                        {{ mensajeError }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" (input)="escribiendo()">
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="alertPassword">
                        {{ mensajeError }}
                    </div>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="alertApi">
                        {{ errorApi }}
                    </div>
                    <div class="spinner-border text-success mt-2" role="status" *ngIf="cargando">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
                <div class="mb-3 float-end float-md-end float-lg-end">
                    <button type="submit" class="btn btn-success">Ingresar</button>
                </div>
                </form>
            </div>
            
        </div>

        


        </div> 
    
    
    </div>
</div>






