<h1>Login</h1>
<hr>



<div class="container">
    
<div class="card bg-dark border-success">
    <form 
    autocomplete="off"
    (ngSubmit)="ingresar()"
    [formGroup]="loginForm"
    class="p-2"
    >
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Ingresar</button>
    </div>
    </form>
</div>

</div>