<div class="container">
    <h1>Detalles</h1>
    <hr>
    <div class="spinner-border text-success" role="status" *ngIf="cargando">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div class="row justify-content-md-center" *ngIf="mostrar">

        <div class="col-12 col-md-6 mb-2">
            <img [src]="detallesHeroe.image.url" class="card-img-top" alt="imagen heroe">
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h3 class="card-title text-center"> Información </h3>
                </div>
                <div class="card-body">
                    <h5> Nombre </h5>
                    <p> {{detallesHeroe.name}} </p>
                    <h5> Alias </h5>
                    <p> {{ detallesHeroe.biography.aliases }} </p>
                    <h5>Trabajo</h5>
                    <p>Lugares: {{detallesHeroe.work.base }} </p>
                    <p>Ocupación: {{detallesHeroe.work.occupation}} </p>
                    <h5>Apariencia</h5>
                    <p> Color de ojos: {{detallesHeroe.appearance.eye}} </p>
                    <p> Color de cabello: {{detallesHeroe.appearance.hair}} </p>
                    <p> Altura: {{detallesHeroe.appearance.height[1]}} </p>
                    <p> Peso: {{detallesHeroe.appearance.weight[1]}} </p>
                </div>
                
            </div>
        </div>

    </div>
</div>
