
<div class="row">

  

  <div class="col-12 col-md-4 mb-2" *ngFor="let heroe of resultadoBusqueda; let i = index;">

    <!--card -->
    <div class="card bg-dark text-white border-success">

      <!-- Header -->
      <div class="card-header text-center title-stroke">
        <h2>{{ heroe.name }}</h2>
      </div>
      <!--IMG-->
      <img [src]="heroe.image.url" alt="imagen heroe">
      
      <!--FOOTER-->
      <div class="card-footer">
        <div class="float-start float-md-start float-lg-start">
          <button type="button" class="btn btn-outline-success" (click)="agregar(heroe)">Agregar</button>
        </div>
      </div>
      
  
  </div>

  </div>
  
</div>
