

<div class="container">
  <h1>Buscar Héroe</h1>
  <hr>
  <div>
    <form autocomplete="off" [formGroup]="buscarForm" (ngSubmit)="buscar()">
      <div class="input-group mb-4">
        <input type="text" class="form-control" formControlName="nombre" (input)="escribiendo()" placeholder="Ingresar nombre" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
      </div>
      <div class="spinner-border text-success" role="status" *ngIf="cargando">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="mostrarAlert">
        {{ mensajeError }}
      </div>
    </form>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-12 mb-2" >
      <app-busqueda-card [resultadoBusqueda]="busqueda"></app-busqueda-card>
    </div>
  </div>
</div>







