/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #ced4da;
    background-color: #212529;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}


.title-stroke {
    font-family: fantasy;
    color: #22d522f2;
    -webkit-text-stroke: 2px black;
}

.p-stroke {
    font-family: fantasy;
    color: #22d522f2;
    -webkit-text-stroke: 1.2px black;
    font-size:medium;
}



